@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 30px;
}
.navbar {
    padding:0 0 4.5rem;
}
.nav-item{
    padding: 0 20px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}
body{
    background: url(health.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    color: white;
    position: absolute;
    top: 30%;
    left: 15%;
    width: 25%;
}
.container h1{
    font-size: 40px;
    border-bottom: 4px solid purple;
    margin-bottom: 25px;
    padding: 13px 0px;
    font-family: 'Heebo', sans-serif;
}
.box{
    width: 100%;
    margin: 28px 0px;
    border-bottom: 2px solid purple;
}
.box input{
    background: none;
    width: 75%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 5px 5px;
    color: white;
    font-family: 'Heebo', sans-serif;
}
.box i{
    /* padding: 0 12px; */
    width: 25px;
    text-align: center;
}
.btn{
    cursor: pointer;
    outline: none;
    margin: 12px 0px;
    padding: 10px 21px;
    border-radius: 9px;
    border: 2px solid purple;
    font-size: 18px;
    background: none;
    color: white;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
}
.btn:hover{
    background: white;
    color: purple;
}

@media (max-width: 991px) {
    #title {
        text-align: center;
    }
    .navbar-brand {
        text-align: center;
    }
}
